<div style="">
  <div class="footer2">
    <div class="container text-center " style="padding-top: 8px; padding-bottom: 8px;" >
      <a href="/">
        <%= image_tag "logo.png" %>
      </a>
    </div>
  </div>
</div>
