<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
  <h1>Nueva Orden</h1>
  <br>
  <hr>
  <div class="row">
   <div class="col-md-6">
    <br>
    <br>
    <div class="card-trip">
      <img src="https://cdn.shopify.com/s/files/1/0354/8800/6280/products/TheLeoLab-Lepono-Medical-Surgical-Mask-Disposable_2048x.jpg?v=1584463524" />
      <div class="card-trip-infos">
        <div>
          <h2>Mascarillas</h2>
          <p>Caja 50 mascarillas desechables de tres capas.</p>
          <h6>$22.00</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= render 'form', order: @order %>
  </div>
</div>
<hr>
</div>


