<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 ">
      <hr>
      <br>
      <h3 class="text-center">Tienda Online de arcticulos <br> para la protección de la salud.</h3>
      <br>
      <p>Ordena los productos que necesites de nuestro <a href="/">catalogo</a>, llena la informacion de la orden (Cantidad, Nombre, Telefono, Correo y Dirreccion de entrega) con esto el equipo de ventas se pondra en contacto para coordinar la entrega y el pago de la misma.
      <br>
      <br>
      Las entregas se realizaran en un lapso de 2 dias de lunes a viernes.  El pago del pedido se podra realizar en efectivo a la hora de su entrega o por tranferencia bancaria. Si desea comprar al por mayor o ser un vendedor de nuestros prodcutos porfavor contactanos.</p>
      <br>
      <hr>
    </div>
  </div>
</div>
