
<div class="container" style="padding-top: 120px; padding-bottom: 120px;">
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6 text-center">
<img src="https://cdn.shopify.com/s/files/1/0354/8800/6280/products/TheLeoLab-Lepono-Medical-Surgical-Mask-Disposable_2048x.jpg?v=1584463524" height="350" class="responsive" />
    </div>
    <div class="col-sm-12 col-md-6">
      <div>
        <h2>Mascarillas Desechables</h2>
        <br>
        <h5>Caja 50 mascarillas desechables de tres capas.</h5>
        <p>Máscaras faciales con filtro de 3 capas, máscaras faciales anti-escupida con gancho para la oreja ajustable: ideal para proteger la boca y la nariz</p>
        <h4>$22.00</h4>
        <br>
      </div>
      <a href="/orders/new"><h2 class="card-trip-pricing btn btn-primary"><i class="fas fa-shopping-cart"></i> Ordenar</h2></a>
    </div>
  </div>
  <hr>
</div>
